@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

:root {
    --orange: #D87D4A;
    --orange-accent: #FBAF85;
    --black: #000;
    --black-accent: #101010;
    --white: #fff;
    --white-accent-1: #fafafa;
    --white-accent-2: #f1f1f1;
    --white-accent-3: hsl(0, 0%, 60%);
    --white-accent-text: hsl(0, 0%, 40%);

    --border-radius: 8px;
    --transition: 0.15s ease-in;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html, body, #root {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

p, li {
    color: var(--white-accent-text);
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    /* height: 100%; */
}

/* Base CSS */
/* General Styles */
/* h1 {
    font-size: 56px;
    text-transform: uppercase;
    line-height: 58px;
    letter-spacing: 2px;
    font-weight: bold;
    color: var(--black-accent);
} */
h1, h2 {
    font-size: 40px;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: 1.5px;
    font-weight: bold;
    /* color: var(--black-accent); */
}
h3 {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1.15px;
    font-weight: bold;
    /* color: var(--black-accent); */
}
h4 {
    font-size: 28px;
    text-transform: uppercase;
    line-height: 38px;
    letter-spacing: 2px;
    font-weight: bold;
    /* color: var(--black-accent); */
}
h5 {
    font-size: 24px;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 1.7px;
    font-weight: bold;
    /* color: var(--black-accent); */
}
h6 {
    font-size: 18px;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.3px;
    font-weight: bold;
    /* color: var(--black-accent); */
}

nav, section {
    width: 100%;
    margin: 8rem 0;
}

section.title {
    background-color: var(--black);
    margin-top: 0;
    margin-bottom: 8rem;
}

nav {
    background-color: var(--white);
    border-radius: var(--border-radius);
}

header, footer {
    background-color: var(--black);
    color: var(--white);
}

span {
    color: var(--orange);
}

button {
    all: unset;
}

#root {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 500;
    /* background-color: var(--black); */
}

.overline {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 10px;
    font-weight: 400;
    color: var(--orange-accent);
}

.subtitle {
    font-size: 13px;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
    font-weight: bold;
    color: var(--orange);
}

.btn {
    font-weight: 600;
}

.btn-orange {
    width: 160px;
    height: 48px;
    background-color: var(--orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
    transition: var(--transition);
    cursor: pointer;
}
.btn-orange:hover {
    background-color: var(--orange-accent);
}

.btn-black {
    width: 160px;
    height: 48px;
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1;
    letter-spacing: 1px;
    transition: var(--transition);
    cursor: pointer;
}
.btn-black:hover {
    color: var(--white);
    background-color: var(--black);
}

.btn-basic {
    color: var(--white-accent-text);
    text-transform: uppercase;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-basic:hover {
    color: var(--orange);
}

.my > * {
    margin: 0.75rem 0;
}

.nav-links {
    display: block;
    margin: 0 auto;
}
.nav-links a {
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
    transition: var(--transition);
}
.nav-links a:hover {
    color: var(--orange);
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

/* Builder Components */

/* HeaderNav */
.header-nav-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(255, 255, 255, 0.2);
}

.header-nav-container .nav-links {
    display: none;
}
.hamburger {
    width: 16px;
}
.logo {
    width: 143px;
    margin: 0 auto;
}
.cart {
    width: 23px;
}

/* Image Nav */

.image-nav-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.image-nav-item {
    background-color: var(--white-accent-2);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 80px 0 10px 0;
}

.image-nav-item > * {
    margin: 0.25rem 0;
}

.image-nav-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
}

/* Brag */
.brag-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brag-img {
    border-radius: var(--border-radius);
}

.brag-text-container {
    text-align: center;
}

.brag-text-container h2 {
    margin: 2rem 0;
}

/* Footer */
.footer-container {
    padding: 3rem 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
}

.footer-nav .nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-icons {
    margin: auto;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-icon {
    width: 24px;
}
.footer-icons > svg > path{
    transition: var(--transition);
}
.footer-icons > svg > path:hover {
    fill: var(--orange);
}

/* Home */
    /* Home Title */
    .home-title-container {
        padding: 2rem 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .home-title-img {
        max-width: 500px;
    }

    .home-title-content {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        /* width: 35%; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .home-title-content > p {
        min-width: 20ch;
        width: 100%;
        max-width: 40ch;
        color: var(--white-accent-3);
    }
    .home-title-content > button {
        margin-left: auto;
        margin-right: auto;
    }

    /* Home Content */
    .home-content-container {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 1.5rem;
        row-gap: 1.5rem;
    }

    .home-main-speaker {
        /* grid-column: 1 / 3; */
        background-color: var(--orange);
        color: var(--white);
        /* background-image: url("/assets/home/desktop/pattern-circles.svg"); */
        display: grid;
        grid-template-columns: 1fr;
        border-radius: var(--border-radius);
        padding: 2rem;
    }

    .home-main-speaker-img {
        padding: 1.5rem 0;
    }
    .home-main-speaker-img img {
        width: 200px;
        margin: 0 auto;
    }

    .home-main-speaker-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .home-main-speaker-text > button {
        background-color: var(--black);
        color: var(--white);
    }
    .home-main-speaker-text > button:hover {
        background-color: rgb(53, 53, 53);
        border-color: rgb(53, 53, 53);
    }

    .home-secondary-speaker {
        /* grid-column: 1 / 3; */
        position: relative;
    }

    .home-secondary-speaker img {
        border-radius: var(--border-radius);
    }
    .home-secondary-speaker-text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 1rem;
    }

    .home-earphones img {
        border-radius: var(--border-radius);
    }
    .home-earphones-text {
        background-color: var(--white-accent-2);
        border-radius: var(--border-radius);
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .home-earphones-text-wrapper {
        margin-left: 1rem;
    }

/* Category */
.category-title {
    margin: 0 0 8rem 0;
    padding: 6rem 0;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
}

.category-item {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category-item-info {
    text-align: center;
}
.category-item-info .category-item-info-description {
    margin: 1.5rem 0 2rem 0;
}
.category-item-info button {
    margin-left: auto;
    margin-right: auto;
}

/* Media Queries */
@media screen and (min-width: 550px) {
    /* Reset */
    h1 {
        font-size: 56px;
        text-transform: uppercase;
        line-height: 58px;
        letter-spacing: 2px;
        font-weight: bold;
        /* color: var(--black-accent); */
    }
    /* HeaderNav */
    .logo {
        margin-left: 2rem;
        margin-right: auto;
    }
    /* Image Nav */
    .image-nav-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    /* Footer */
    .footer-container {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(4, auto);
    }
    .footer-logo-container {
        grid-column: 1 / 3;
    }
    .footer-logo-container > .logo {
        margin: 0;
    }
    .footer-nav {
        grid-column: 1 / 3;
    }
    .footer-nav > .nav-links {
        flex-direction: row;
    }
    .footer-nav > .nav-links :first-child {
        margin-left: 0;
    }
    .footer-text {
        grid-column: 1 /3;
        text-align: start;
    }
    .footer-icons {
        margin-right: 0;
    }
    .footer-copyright {
        text-align: start;
    }
    /* Home */
        /* Home Content */
        .home-content-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
            row-gap: 1.5rem;
        }

        .home-main-speaker {
            grid-column: 1 / 3;
        }
        .home-main-speaker-img {
            padding: 2rem 0;
        }
        .home-main-speaker-img img {
            width: 227px;
            margin: 0 auto;
        }

        .home-secondary-speaker {
            grid-column: 1 / 3;
        }
        .home-secondary-speaker-text,
        .home-earphones-text-wrapper {
            margin-left: 2rem;
        }
}

@media screen and (min-width: 1100px) {
    /* HeaderNav */
    .header-nav-container {
        justify-content: space-between;
    }
    .header-nav-container .nav-links {
        display: block;
    }
    .hamburger {
        display: none;
    }
    .logo {
        margin: 0;
    }
    .cart {
        margin-left: auto;
    }
    
    /* Brag */
    .brag-container {
        flex-direction: row-reverse;
    }
    .brag-img {
        flex: 1;
    }
    .brag-text-container {
        flex: 1;
        text-align: start;
        margin: auto 4rem auto 0;
    }

    /* Footer */
    .footer-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            'logo links'
            'text icons'
            'copyright .'
        ;
    }
    .footer-logo-container {
        grid-area: logo;
    }
    .footer-nav {
        grid-area: links;
        display: flex;
        justify-content: flex-end;
    }
    .footer-nav > .nav-links {
        margin-right: 0;
    }
    .footer-nav > .nav-links > a:last-child {
        margin-right: 0;
    }
    .footer-text {
        grid-area: text;
    }
    .footer-icons-container {
        grid-area: icons;
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
    }
    .footer-icons {
        margin: 0;
    }
    .footer-copyright {
        grid-area: copyright;
    }

    /* Home */
        /* Home Title */
        .home-title-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .home-title-content {
            position: inherit;
            transform: none;
            top: 0;
            text-align: start;
            align-items: flex-start;
        }
        .home-title-content button {
            margin-left: 0;
            margin-right: auto;
        }

        /* Home Content */
        .home-main-speaker {
            grid-template-columns: 1fr 1fr;
            padding-bottom: 0;
            padding-top: 4rem;
        }

        .home-main-speaker-img {
            padding: 0;
        }
        .home-main-speaker-img img {
            width: 350px;
        }
        .home-main-speaker-text {
            margin-left: 4rem;
            margin-top: 1rem;
            align-items: flex-start;
            justify-content: flex-start;
            text-align: start;
        }

        .home-secondary-speaker-text,
        .home-earphones-text-wrapper {
            margin-left: 4rem;
        }

    /* Category */
    .category-item {
        display: flex;
        flex-direction: row;
    }
    .category-item > div {
        width: 50%;
    }
    
    .category-item-info {
        margin-left: 4rem;
        text-align: start;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .category-item-info button {
        margin-left: 0;
    }
    
    .category-item-even {
        flex-direction: row-reverse;
    }
    .category-item-even > .category-item-info {
        margin-right: 4rem;
        margin-left: 0;
    }
}